<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  <div class="container">
<h1><%= @cocktail.name %></h1>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="content">
<% @cocktail.doses.each do|dose| %>
<h4><%= dose.ingredient.name %></h4>
<p><%= dose.description %></p>
<% end %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<div class="content2">
<button> <%= link_to "MAKE IT GOOD!", new_cocktail_dose_path(@cocktail) %> </button>

  <button> <%= link_to "delete a cocktail?", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </button>
<% if @cocktail == true %>
<% end %>
<button> <%= link_to "Go back to index!", cocktails_path  %> </button>

</div>
</div>
